<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @restaurant.tel %>
</p>

<h3><b>Dishes</b></h3>

<div class="dishes">
  <% @restaurant.dishes.each do |dish| %>
    <hr>
    <h4><b>Name: <%= dish.name %></b></h4>
    <h4><b>Category: <%= dish.category.description %></b></h4>

    <h4> Ingredients:
      <% dish.ingredients.each do |ingredient| %>
        <%= ingredient.description + ","%>
      <% end %>
    </h4>
    <h4>Price: R$<%= dish.cost %>0</h4>
    <h4>Time to prepare: <%= postTime_to_prepare dish.time_to_prepare %>.</h4>
  <% end %>
  <hr>
</div>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
